body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Flamenso", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

#proportional_symbol_map {
    width: 90%;
    height: 80%;
}
